body {
    position: relative;
    min-height: 100vh;
    background: url('/storage/images/authbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.card {
    color: #f0f8ff;
    background: rgba(0, 0, 0, .6);
}
.btn-gold {
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: #ecf0f1;
    padding: .3em 1em;
    background: linear-gradient(0deg, #fcc201, #805e1f);
    transition: all .3s;
}
.btn-gold:hover {
    background: linear-gradient(90deg, #fcc201, #805e1f);
}
.link-gold {
    color: #f0f8ff;
}
.link-gold:hover {
    color: #f1c40f;
}
.card-header {
    color: #f1c40f;
    text-align: center;
    font-size: 2rem;
}